.bottom-nav{

    position:fixed;

    bottom:0;

    left:0;

    right:0;

    height:70px;

    background:#151515;

    display:flex;

    justify-content:space-around;

    align-items:center;

    border-top:1px solid rgba(255,255,255,.05);

}

.bottom-nav button{

    background:none;

    border:none;

    color:white;

    font-size:24px;

    cursor:pointer;

}