########################
# Python
########################

.venv/
__pycache__/
*.py[cod]
*$py.class

########################
# Environment
########################

.env
.env.*

########################
# Build
########################

build/
dist/
frontend/**/dist/

########################
# Node
########################

node_modules/
frontend/**/node_modules/

.pnpm-store/
.npm/

.vite/

########################
# Typescript
########################

*.tsbuildinfo

########################
# Testing
########################

.pytest_cache/
.coverage
htmlcov/

########################
# IDE
########################

.vscode/
.idea/

########################
# OS
########################

.DS_Store
Thumbs.db

########################
# Logs
########################

*.log

########################
# Cache
########################

.mypy_cache/
.ruff_cache/
.pyright/

########################
# Temp
########################

*.tmp
*.bak