.r64-text{

    color:var(--text);

}

.r64-text.h1{

    font-size:34px;

    font-weight:700;

}

.r64-text.h2{

    font-size:26px;

    font-weight:700;

}

.r64-text.h3{

    font-size:20px;

    font-weight:600;

}

.r64-text.body{

    font-size:16px;

}

.r64-text.small{

    font-size:13px;

    color:var(--text-secondary);

}